//-------------Colors------------//
$GreenBackground: #006341;
$GreenText:#2a8a15;
$GrayBackground: #F7F7F7;
$CoffeeBackground:#f1f0eb;
$WhiteBackground: #FFFFFF;
$GrayTypographie:#3D3935;
$BlackTypographie:#000000;
$WhiteTypographie: #FFFFFF;
$RedBackground:#e2211c;


//-------------Typographies------------//
$MainTypographie:'Rubik', sans-serif;

body
{
    margin: 0;
    padding: 0;
    font-family: $MainTypographie;  
    
    .text1
    {
        border-bottom: 1px solid $GreenBackground;
        padding: 5% 0% 3% 0%;
        color: $GreenBackground;
    }

    .text2
    {
        font-weight: lighter;
        font-size: xx-large;
    }

    .text3
    {
        font-weight: lighter;
        font-size: x-large;
    }
    .text4
    {
        font-weight: lighter;
        font-size: medium;
    }

    #starbucks
    {
        width: 100%;  
        margin-top: 5%;    
        display: flex;
        justify-content: center;                                  
        div
        {
            
            width: 70%;
            text-align: center; 
            div
            {
                width: 100%;
                img
                {
                    margin-top: 5%;
                    border-radius:500px;
                    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
                    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
                    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);                    
                }                
            } 
            
            
                         
        }        
    }

    #ourCompany
    {
        width: 100%;      
        display: flex;
        justify-content: center;
        margin-top: 10%;
        div
        {
            width: 70%;
            text-align: center; 
            #hiddenText
            {
                font-size:large;                
                color:#2a8a15;
                img
                {
                    width: 10px;
                    height: 10px;
                }
            }  
            div
            {
                width: 100%;
                img
                {
                    margin-top: 5%;
                    border-radius:500px;
                    -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
                    -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
                    box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);                    
                }                
            }                                  
        }       
    }

    #ourMision
    {
        width: 100%;      
        display: flex;
        flex-direction: column;  
        margin-top: 10%;
        margin-bottom: 10%;                            

        #title
        {
            width: 70%;
            align-self: center;            
            text-align: center;            
        }
        #cardsContent
        {
            width: 100%;
            display: flex;  
            justify-content: space-around;          
            div
            {
                width: 20%;
                text-align: center;
                h4
                {
                    color:#2a8a15;
                    img
                    {
                        width: 10px;
                        height: 10px;
                    }
                } 
                h4:hover
                {
                    cursor: pointer;
                }  
                
                div
                {
                    p
                    {
                        font-size: smaller;
                        font-style: italic;                        
                    }
                    img
                    {
                        width: 50%;                                               
                        border-radius: 20px; 
                        -webkit-box-shadow: 0px 0px 30px 0px rgba(50, 50, 50, 0.75);
                        -moz-box-shadow:    0px 0px 30px 0px rgba(50, 50, 50, 0.75);
                        box-shadow:         0px 0px 30px 0px rgba(50, 50, 50, 0.75);                           
                    }
                } 
            }            
        }
    }
}