<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Coffee Shop</title>
    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../css/menufooter.css">
    <link rel="stylesheet" href="../css/aboutus.css">
     <!--Libreria de animación-->
     <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
     <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
    <!-- Enlace a tipografias -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Menu de navegación -->
    <div id="menu">
        <div id="logo">
            <a href="../index.html"><img src="../images/starbucks.svg" alt="" style="width: 60px; height: 60px;"></a>            
        </div>
        

        <div id="optionsDiv">
            <div>
                <a href="./cafe.html" class="options">Café</a>
                <a href="./aboutus.html" class="options">Nosotros</a>
                <a href="./contact.html" class="options">Contacto</a>
            </div>                        
        </div>

        <div id="shopDiv">
            <div>
                <a id="linkDelivery" href="menu.html">Delivery Menu</a>                
                <a id="linkCart" id="cartLink" href="./cart.html"><img src="../images/cart.svg" alt="" style="width: 30px; height: 30px;"></a>
            </div>            
        </div>
    </div>



    <!-- Contenido principal de la página --> 

    <div id="starbucks">
        <div data-aos="fade-up">
            <img data-aos="zoom-in" src="../images/starbucks.svg" style="width: 150px; height: 150px;" alt="">
            <h1 class="text1">STARBUCKS</h1>

            <h4 class="text2">Sucede millones de veces todas las semanas
                que un cliente recibe una bebida de un barista
                de Starbucks.Sin embargo, cada interacción es única.
            </h4>

            <p class="text3">Ocurre en tan solo un instante: una mano que salva la distancia 
                de la barra para entregar una taza a otra mano tendida.
            </p>

            <p class="text3" style="font-style: italic;">
                "Pero establece una conexión"
            </p>
            <div>
                <img data-aos="fade-right" src="../images/client.jpg" alt="" width="50%">            
            </div>
            
            
            
            
        </div>
    </div>


    <div data-aos="fade-up" id="ourCompany">
        <div>
            <h1 class="text1">NUESTRA EMPRESA</h1>

            <h4 class="text2">Starbucks compra y tuesta cafés en grano de gran calidad.
                Es la esencia de nuestra actividad. ¿Pero sabes quiénes 
                somos en realidad?
            </h4>

            <h4 id="hiddenText">Somos más que café</h4>

            <p style="font-style: italic; font-size: large;">
                "Nos apasiona nuestra labor de abastecedores de café, así como todo lo relacionado 
                con el disfrute de una experiencia gratificante en una de nuestras tiendas.
                Las personas acuden a Starbucks a charlar, reunirse o trabajar. Somos un lugar de encuentro
                en el barrio, parte de la rutina diaria… y no hay nada que nos haga más felices. Ven a conocernos
                y lo comprobarás: somos mucho más que los cafés que elaboramos"                                                 
            </p>
            <div>
                <img data-aos="fade-left" src="../images/people.webp" alt="" width="50%">            
            </div>
        </div>
    </div>


    <div data-aos="fade-up" id="ourMision">

        <div id="title">
            <h1 class="text1">
                NUESTRA MISIÓN                
            </h1>   
            <h4 class="text2">Inspirar y nutrir el espíritu humano: Una persona, una taza y una comunidad a la vez.</h4>                                  
        </div>   
        
        <div id="cardsContent">  
            <div>
                <h4 class="misionTitle">Nuestro café <img src="../images/flechaabajo.svg" alt="flechaabajo"></h4>
                
                <div style="display: none;">
                    <img src="../images/coffeegrain.svg" alt="">                                    
                    <p>
                        "Tenemos un compromiso socialmente responsable con los proveedores de los mejores granos de café, esmerarnos en tostar los granos y mejorar la vida de la gente que los cultiva. Nuestro profundo interés en todos estos aspectos hace que nuestro trabajo jamás termine.""
                    </p>
                </div>                
            </div>  
            
            <div>
                <h4 class="misionTitle">Nuestros Clientes <img src="../images/flechaabajo.svg" alt="flechaabajo"></h4>

                <div style="display: none;">
                    <img src="../images/happyclients.svg" alt="">                    
                    <p>
                        "Cuando nos entregamos de lleno a lo que hacemos, nos relacionamos con nuestros clientes, reímos con  ellos y les levantamos el ánimo, aunque sea por un instante. En realidad, se trata de relacionarnos con las personas"                    
                    </p>

                </div>
                                
            </div>

            <div>
                <h4 class="misionTitle">Nuestras Tiendas <img src="../images/flechaabajo.svg" alt="flechaabajo"></h4>
                <div style="display: none;">
                    <img src="../images/coffeshop.svg" alt="">
                    <p>
                        "Cuando nuestros clientes logran experimentar esta sensación de pertenencia, nuestras tiendas pasan a ser un refugio, un lugar para reunirse con los amigos. Se trata de disfrutar al mismo ritma la vida: a veces pausando y con tiempo para saborearlo, otras veces más acelerado, pero siempre rodeados de auténtico calor humano"
                    </p>
                </div>                
                
            </div>
            

        </div>
    </div>




      <!-- Pie de página -->
      <div id="footer">
        <div class="footerItem">  
            <div id="socialNetworks">
                <a href="https://www.facebook.com/StarbucksMexico"><img src="../images/facebook.svg" alt="facebook" style="width: 20px; height: 20px;"></a>
                <a href="https://www.instagram.com/starbucksMex/"><img src="../images/instagram.svg" alt="instagram" style="width: 20px; height: 20px;"></a>
                <a href="https://twitter.com/StarbucksMex"><img src="../images/twitter.svg" alt="twitter" style="width: 20px; height: 20px;"></a>                                                
            </div>                      
        </div>
        <div class="footerItem">
            <a href="">Preguntas Frecuentes</a>            
        </div>
        <div class="footerItem">
            <a href="">Políticas del sitio</a>            
        </div>
        <div class="footerItem">
            <a href="">Aviso de privacidad</a>            
        </div>
    </div>
    
</body>
<!--Scripts-->
<script src="../scripts/coffeescripts.js"></script>
<script src="../scripts/AOS.js"></script>
</html>