<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">    
    <title>Starbucks Cofee Shop</title>

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../css/menufooter.css">
    <link rel="stylesheet" href="../css/cafe.css">
    <!--Libreria de animación-->
    <link rel="stylesheet" href="https://unpkg.com/aos@next/dist/aos.css" />
    <script src="https://unpkg.com/aos@next/dist/aos.js"></script>
   
    <!-- Enlace a tipografias -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Menu de navegación -->
    <div id="menu">
        <div id="logo">
            <a href="../index.html"><img src="../images/starbucks.svg" alt="" style="width: 60px; height: 60px;"></a>            
        </div>
        

        <div id="optionsDiv">
            <div>
                <a href="./cafe.html" class="options">Café</a>
                <a href="./aboutus.html" class="options">Nosotros</a>
                <a href="./contact.html" class="options">Contacto</a>
            </div>                        
        </div>

        <div id="shopDiv">
            <div>
                <a id="linkDelivery" href="menu.html">Delivery Menu</a>                
                <a id="linkCart" id="cartLink" href="./cart.html"><img src="../images/cart.svg" alt="" style="width: 30px; height: 30px;"></a>
            </div>            
        </div>
    </div>

    <!--Contenido Principal de la página-->
    <div id="mainTitle">
        <h1>
            El café excepcional solo puede venir de granos excepcionales
        </h1>
        <h3>
            Los granos arábico de Starbucks son diferentes de los granos arábicos regulares
        </h3>
        <h3>
            ¿Cómo lo hacemos? Nos alegra que lo pregunte
        </h3>
    </div>

    <div class="coffeeSection">
        <div class="number">
            <div data-aos="fade-up">
                <h1>1</h1>                
            </div>
        </div>
        <h3 data-aos="fade-up">
            Vamos donde los mejores granos están: arriba
        </h3>
        <div>
            <h4 data-aos="fade-up">
                Los mejores granos crecen en las altitudes más elevadas. Las noches frías y los días templados crean granos más densos. Y los granos más densos tienen sabores más profundos y complejos. Pruébalos en cada taza de café de Starbucks.
            </h4>
        </div>  
        <img data-aos="fade-up" src="../images/cofe1.png" alt="">      
    </div>

    <div class="coffeeSection">
        <div class="number">
            <div data-aos="fade-up">
                <h1>2</h1>                
            </div>
        </div>
        <h3 data-aos="fade-up">
            Existimos por el bien de todo el café
        </h3>        
        <div>
            <h4 data-aos="fade-up">
                Así que si podemos ayudar a un productor a hacer crecer mejores granos, lo haremos. A todo productor, en donde sea. Para ello, contamos con centros de apoyo para los productores en los cuatro continentes donde nuestros agrónomos prueban suelos, examinan muestras y prestan asesoramiento de forma gratuita a cualquier productor de café que lo solicite.
            </h4>
        </div>  
        <img data-aos="fade-up" src="../images/cofe2.png" alt="">  
    </div>

    <div class="coffeeSection">
        <div class="number">
            <div data-aos="fade-up">
                <h1>3</h1>                
            </div>
        </div>
        <h3 data-aos="fade-up">
            Cultivamos relaciones profundamente arraigadas
        </h3>        
        <div>
            <h4 data-aos="fade-up">
                El futuro del café está entrelazado con el futuro de los productores de café. Así que nos nutrimos de esas relaciones de la misma manera que nutren sus granos. Trabajamos para ofrecer a los productores un precio justo y para asegurarnos que todos en la comunidad pueden beneficiarse de la industria del café. De esta forma, los productores obtienen mejores condiciones de vida y todos nosotros, una mejor taza de café.
            </h4>
        </div> 
        <img data-aos="fade-up" src="../images/cofe3.png" alt="">       
    </div>

    <div class="coffeeSection">
        <div class="number">
            <div data-aos="fade-up">
                <h1>4</h1>                
            </div>
        </div>
        <h3 data-aos="fade-up">
            Somos muy exigentes en la cosecha.
        </h3>        
        <div>
            <h4 data-aos="fade-up">
                Nosotros sólo recogemos los frutos de café cuando están en su mejor momento. Rojos, maduros y perfectos. Después de eso, los ordenamos una y otra vez de acuerdo con el tamaño, el color y la densidad. ¿Cuál es la tolerancia en cuanto los defectos? Prácticamente cero. Algunas personas podrían llamarlo obsesivo. Nosotros lo llamamos un gran café.
            </h4>
        </div>   
        <img data-aos="fade-up" src="../images/cofe4.png" alt="">     
    </div>

    <div class="coffeeSection">
        <div class="number">
            <div data-aos="fade-up">
                <h1>5</h1>                
            </div>
        </div>
        <h3 data-aos="fade-up">
            Probamos, una y otra vez y otra vez.
        </h3>        
        <div>
            <h4 data-aos="fade-up">
                Probamos más de 1.000 tazas de café al día para verificar el sabor superior que todos nosotros (incluido usted) hemos estado esperando. Un lote de café se degusta al menos tres veces antes de que sea aprobado, por lo que cada vez que toma un sorbo del café de Starbucks, es un sorbo que le encantará.
            </h4>
        </div>  
        <img data-aos="fade-up" src="../images/cofe5.png" alt="">  
    </div>
    
   





    <!-- Pie de página -->
    <div id="footer">
        <div class="footerItem">  
            <div id="socialNetworks">
                <a href="https://www.facebook.com/StarbucksMexico"><img src="../images/facebook.svg" alt="facebook" style="width: 20px; height: 20px;"></a>
                <a href="https://www.instagram.com/starbucksMex/"><img src="../images/instagram.svg" alt="instagram" style="width: 20px; height: 20px;"></a>
                <a href="https://twitter.com/StarbucksMex"><img src="../images/twitter.svg" alt="twitter" style="width: 20px; height: 20px;"></a>                                                
            </div>                      
        </div>
        <div class="footerItem">
            <a href="">Preguntas Frecuentes</a>            
        </div>
        <div class="footerItem">
            <a href="">Políticas del sitio</a>            
        </div>
        <div class="footerItem">
            <a href="">Aviso de privacidad</a>            
        </div>
    </div>
    
</body>
<script src="../scripts/AOS.js"></script>
</html>