<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Cofee Shop</title>

    <!-- Hoja de estilos -->
    <link rel="stylesheet" href="../css/menufooter.css">
    <link rel="stylesheet" href="../css/cart.css">
    

    <!-- Enlace a tipografias -->
    <link rel="preconnect" href="https://fonts.gstatic.com">
    <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Menu de navegación -->
    <div id="menu">
        <div id="logo">
            <a href="../index.html"><img src="../images/starbucks.svg" alt="" style="width: 60px; height: 60px;"></a>            
        </div>
        

        <div id="optionsDiv">
            <div>
                <a href="./cafe.html" class="options">Café</a>
                <a href="./aboutus.html" class="options">Nosotros</a>
                <a href="./contact.html" class="options">Contacto</a>
            </div>                        
        </div>

        <div id="shopDiv">
            <div>
                <a id="linkDelivery" href="menu.html">Delivery Menu</a>                
                <a id="linkCart" id="cartLink" href="./cart.html"><img src="../images/cart.svg" alt="" style="width: 30px; height: 30px;"></a>
            </div>            
        </div>
    </div>

    <!--Contenido Principal de la página-->
    <div id="text">
        
    </div>
    
    <div id="mainContainer">
        <div>
            <div id="text">
                <h2>Tus productos seleccionados</h2>
            </div>
        
            <div id="tableContainer">
                <table>
                    <tr id="tableHeader">
                        <td><h3>Producto</h3></td>
                        <td><h3>Precio Individual</h3></td>                
                    </tr>
        
                    <tr class="itemProduct">
                        <td><h4>Café Late - Leche con shot de Espresso</h4></td>
                        <td><h4>$55.0</h4></td>
                    </tr>
        
                    <tr class="itemProduct">
                        <td><h4>Flat White - Leche con shot de ristretto</h4></td>
                        <td><h4>$35.0</h4></td>
                    </tr>
        
                    <tr class="itemProduct">
                        <td><h4>Espresso Americano - Agua con shot de Espresso</h4></td>
                        <td><h4>$15.0</h4></td>
                    </tr> 

                    <tr class="itemProduct">
                        <td><h4></h4></td>
                        <td><h3></h3></td>
                    </tr>
                    
                    <tr class="itemProduct">
                        <td><h4></h4></td>
                        <td><h3>Total: $105.0 MX</h3></td>
                    </tr>
                </table>
            </div>
        
            <div id="pay">                
                <button>Pagar</button>
            </div>

        </div>
    </div>
    
   
    
    





    <!-- Pie de página -->
    <div id="footer">
        <div class="footerItem">  
            <div id="socialNetworks">
                <a href="https://www.facebook.com/StarbucksMexico"><img src="../images/facebook.svg" alt="facebook" style="width: 20px; height: 20px;"></a>
                <a href="https://www.instagram.com/starbucksMex/"><img src="../images/instagram.svg" alt="instagram" style="width: 20px; height: 20px;"></a>
                <a href="https://twitter.com/StarbucksMex"><img src="../images/twitter.svg" alt="twitter" style="width: 20px; height: 20px;"></a>                                                
            </div>                      
        </div>
        <div class="footerItem">
            <a href="">Preguntas Frecuentes</a>            
        </div>
        <div class="footerItem">
            <a href="">Políticas del sitio</a>            
        </div>
        <div class="footerItem">
            <a href="">Aviso de privacidad</a>            
        </div>
    </div>
    
</body>
</html>