<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Coffe shop</title>

     <!-- Hoja de estilos -->
     <link rel="stylesheet" href="../css/menufooter.css">
     <link rel="stylesheet" href="../css/drinks.css">     
     <!-- Enlace a tipografias -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>

    <!-- Menu de navegación -->
    <div id="menu">
        <div id="logo">
            <a href="../index.html"><img src="../images/starbucks.svg" alt="" style="width: 60px; height: 60px;"></a>            
        </div>
        

        <div id="optionsDiv">
            <div>
                <a href="./cafe.html" class="options">Café</a>
                <a href="./aboutus.html" class="options">Nosotros</a>
                <a href="./contact.html" class="options">Contacto</a>
            </div>                        
        </div>

        <div id="shopDiv">
            <div>
                <a id="linkDelivery" href="menu.html">Delivery Menu</a>                
                <a id="linkCart" id="cartLink" href="./cart.html"><img src="../images/cart.svg" alt="" style="width: 30px; height: 30px;"></a>
            </div>            
        </div>
    </div>

    <!-- Contenido principal de la página -->
    <div id="text">
        <h1>Nuestra Promesa</h1>
        <h4>Deliciosos en cada bocado</h4>        
    </div>

    <div class="divCategory">

        <div class="categoryName">
            <h2>Desayunos</h2>            
        </div>

        <div class="productCards">

            <div class="product">
                <div class="general">
                    <img src="../images/foods/integral.png" width="120px" height="120px" alt="">
                    <h4>Sandwich Integral</h4>
                    <h5>Sandwich de jamon integral</h5>
                    <h6>55.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/poblano.png" width="120px" height="120px" alt="">
                    <h4>Envuelto Poblano</h4>
                    <h5>Envuelto estilo poblano</h5>
                    <h6>60.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/piadini.png" width="120px" height="120px" alt="">
                    <h4>Piadini Claras y Espinacas</h4>
                    <h5>Piadini de claras</h5>
                    <h6>80.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/focaccia.png" width="120px" height="120px" alt="">
                    <h4>Focaccia Tres Quesos</h4>
                    <h5>Focaccia con queso blanco</h5>
                    <h6>100.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/yogurth.png" width="120px" height="120px" alt="">
                    <h4>Yogurt Natural Con Jalea</h4>
                    <h5>Yogurt Natural Con Jalea y frutos</h5>
                    <h6>45.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>            

            
        </div>

    </div>

    <!----------------------------------------------------------->

    <div class="divCategory">

        <div class="categoryName">
            <h2>Galletas y Antojos</h2>
            <p></p>
        </div>

        <div class="productCards">

            <div class="product">
                <div class="general">
                    <img src="../images/foods/barra.jpg" width="120px" height="120px" alt="">
                    <h4>Barra Saludable</h4>
                    <h5>Barra de trigo y fibra</h5>
                    <h6>25.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/mentas.png" width="120px" height="120px" alt="">
                    <h4>Mentas</h4>
                    <h5>Pastillas de menta</h5>
                    <h6>15.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/galleta.jpg" width="120px" height="120px" alt="">
                    <h4>Galleta De Chocolate</h4>
                    <h5>Galleta con doble chocolate</h5>
                    <h6>20.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/nueces.jpg" width="120px" height="120px" alt="">
                    <h4>Nueces</h4>
                    <h5>Nueces surtidas y fruta seca</h5>
                    <h6>35.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>

            <div class="product">
                <div class="general">
                    <img src="../images/foods/tejas.png" width="120px" height="120px" alt="">
                    <h4>Tejas De Almendra</h4>
                    <h5>Galleta con almendra</h5>
                    <h6>20.00$</h6>
                </div>
                
                <div class="addItem">
                    <a href=""><img src="../images/add.svg" alt="" width="30px" height="30px"></a>                    
                </div>
            </div>            

            
        </div>

    </div>




    <!-- Pie de página -->
    <div id="footer">
        <div class="footerItem">  
            <div id="socialNetworks">
                <a href="https://www.facebook.com/StarbucksMexico"><img src="../images/facebook.svg" alt="facebook" style="width: 20px; height: 20px;"></a>
                <a href="https://www.instagram.com/starbucksMex/"><img src="../images/instagram.svg" alt="instagram" style="width: 20px; height: 20px;"></a>
                <a href="https://twitter.com/StarbucksMex"><img src="../images/twitter.svg" alt="twitter" style="width: 20px; height: 20px;"></a>                                                
            </div>                      
        </div>
        <div class="footerItem">
            <a href="">Preguntas Frecuentes</a>            
        </div>
        <div class="footerItem">
            <a href="">Políticas del sitio</a>            
        </div>
        <div class="footerItem">
            <a href="">Aviso de privacidad</a>            
        </div>
    </div>



    

    
</body>
</html>