<!DOCTYPE html>
<html lang="en">
<head>
    <meta charset="UTF-8">
    <meta name="viewport" content="width=device-width, initial-scale=1.0">
    <title>Starbucks Coffee Shop</title>
     <!-- Hoja de estilos -->
     <link rel="stylesheet" href="../css/menufooter.css">
     <link rel="stylesheet" href="../css/menu.css">
     <!-- Enlace a tipografias -->
     <link rel="preconnect" href="https://fonts.gstatic.com">
     <link href="https://fonts.googleapis.com/css2?family=Rubik:wght@300;400;500&display=swap" rel="stylesheet">
</head>
<body>
    <!-- Menu de navegación -->
    <div id="menu">
        <div id="logo">
            <a href="../index.html"><img src="../images/starbucks.svg" alt="" style="width: 60px; height: 60px;"></a>            
        </div>
        

        <div id="optionsDiv">
            <div>
                <a href="./cafe.html" class="options">Café</a>
                <a href="./aboutus.html" class="options">Nosotros</a>
                <a href="./contact.html" class="options">Contacto</a>
            </div>                        
        </div>

        <div id="shopDiv">
            <div>
                <a id="linkDelivery" href="">Delivery Menu</a>                
                <a id="linkCart" id="cartLink" href="./cart.html"><img src="../images/cart.svg" alt="" style="width: 30px; height: 30px;"></a>
            </div>            
        </div>
    </div>



    <!-- Contenido principal de la página -->

    <div id="text">
        <h1 style="font-size:400%;">Qué se te antoja hoy!</h1>
        <h4 style="font-weight: lighter; font-size: 200%;">Encuentra una gran varidedad de productos para acompañar hoy!</h4>
    </div>

    <div id="menuItems">
        <div>
            <h4>Bebidas</h4>
            <a href="drinks.html"><img src="../images/cup.png" width="200px" alt=""></a>
        </div>
        

        <div>
            <h4>Alimentos</h4>
            <a href="foods.html"><img src="../images/cake.png" width="350px" alt=""></a>
        </div>                
    </div>







      <!-- Pie de página -->
      <div id="footer">
        <div class="footerItem">  
            <div id="socialNetworks">
                <a href="https://www.facebook.com/StarbucksMexico"><img src="../images/facebook.svg" alt="facebook" style="width: 20px; height: 20px;"></a>
                <a href="https://www.instagram.com/starbucksMex/"><img src="../images/instagram.svg" alt="instagram" style="width: 20px; height: 20px;"></a>
                <a href="https://twitter.com/StarbucksMex"><img src="../images/twitter.svg" alt="twitter" style="width: 20px; height: 20px;"></a>                                                
            </div>                      
        </div>
        <div class="footerItem">
            <a href="">Preguntas Frecuentes</a>            
        </div>
        <div class="footerItem">
            <a href="">Políticas del sitio</a>            
        </div>
        <div class="footerItem">
            <a href="">Aviso de privacidad</a>            
        </div>
    </div>
    
</body>
</html>